<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>

    <connectionStrings>
        <!--<add name="restoConnectionString" connectionString="Data Source=SQL5021.myASP.NET;Initial Catalog=DB_A16F05_resto;User Id=DB_A16F05_resto_admin;Password=sid7106375"
            providerName="System.Data.SqlClient" />-->
      <add name="conString" connectionString="Data Source=.;Initial Catalog=resto;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />
        <!--<add name="restoConnectionString2" connectionString="Data Source=.;Initial Catalog=resto;User ID=sa;Password=123"
            providerName="System.Data.SqlClient" />-->
    </connectionStrings>
    <system.web>
      <customErrors mode="Off"></customErrors>
      <compilation debug="true" targetFramework="4.5.1" />
      <httpRuntime targetFramework="4.5.1" />
    </system.web>

</configuration>
